* {
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

.banner{
  justify-content: center;
}

.img-logo{
  justify-content: center;
  width: 100%;
  height: 250px;
  display: block;
}

.primary-button {
  background-color: #FFBD12;
  padding: 5px 15px;
  border: 0 none;
  border-radius: 5px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

.message-area {
  padding: 5px 15px;
  border: 0 none;
  border-radius: 5px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vw;
}

.container-events {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.card-event {
  display: flex;
  margin: 10px;
  border: 1px solid #FFBD12;
  height: 115px;
  width: 340px;
  background-color: #ffbd1282;
  border-radius: 10px;
}

.card-event-img {
  flex: 0 0 140px;
  padding: 15px;
}

.card-event-img img {
  max-width: 100%;
  box-shadow: 0 0 5px #333;
  border-radius: 10px 0px;
}

.card-event-text {
  max-width: 200px;
  max-height: 100px;
  font-size: 11px;
  margin-top: 2px;
  font-family: 'Rubik', sans-serif;
}

.eventos{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.container-buttons {
  padding: 10px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #FFBD12;
  text-decoration:none;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.link {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  text-decoration: underline;
  box-shadow: none;
  text-decoration:none;
  margin-left: 4%;
}

.filter {
  margin-left: 80%;
}

.options-filter {
  height: 25%;
}

.form-event {
  display: flex;
  flex-direction: column;
}

.event-data {
  display: flex;
  flex-direction: column;                                                                                                                                                                                                           ;
  justify-content: center;
  align-items: center;
}

.publicize-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

.js-gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
  border-radius: 15px;
  background-color: #FFBD12;
}

.js-additional-infor {
  justify-content: center;
  resize: none;
  padding: 1vw;
  margin-bottom: 1vw;
  border-radius: 15px;
  width: 340px;
  height: 150px;
}

.btn {
  flex-direction: row;
  justify-content: space-around;
}

.Begin{
  position:fixed;
  right:10px;
  bottom: 15px;
  font-size: 30px;
}

@media (min-width: 750px){

  .img-logo{
    margin-left: 20%;
    width: 60%;
    height: 250px;
  }

  .navbar-nav{
    margin-left: 20%;
  }

  .filter {
    margin-left: 48%;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .list-filter {
    margin-left: 21%;
  }
} 