* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.primary-button {
  background-color: #FFBD12;
  padding: 5px 15px;
  border: 0 none;
  border-radius: 5px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vw;
}

.message-area {
  padding: 5px 15px;
  border: 0 none;
  border-radius: 5px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vw;
}
.container-events {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  
}
.card-event {
  display: flex;
  padding: 20px;
}
.card-event-img {
  flex: 0 0 200px;
  padding-right: 20px;
}
.card-event-img img {
  max-width: 100%;
  box-shadow: 0 0 5px #333;
  border-radius: 10px 0px;
}
.container-buttons {
  padding: 10px;
  text-align: center;
}

/* Page publicize */

.form-event {
  display: flex;
  flex-direction: column;
}
.event-data {
  display: flex;
  flex-direction: column;                                                                                                                                                                                                           ;
  justify-content: center;
  align-items: center;
} 
.publicize-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}
.js-gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
  border-radius: 15px;
  background-color: #FFBD12;
}
.js-additional-infor {
  justify-content: center;
  resize: none;
  padding: 1vw;
  margin-bottom: 1vw;
  border-radius: 15px;
}
.btn {
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width:1400px) {

}

@media screen and (max-width:768px) {
  
}